html,
body {
  color-scheme: White;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.error{
  color : red;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: left;
  visibility: visible;
}


.icon{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #DFDFDF;
  overflow-y: visible;
  
}

.iconbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.plus{
  background-color: #C2B2A2;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  position: relative;
  bottom: 20px;
 
}

.tombolplus{
  font-size: 35px;
  text-align: center;
  position: relative;
  bottom: 25px;
  color: black;
}


