.container {
    padding: 0 2rem;
}
  
.main {
    min-height: 100vh;
    padding-top : 0rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textjudul{
    font-size: medium;
    font-weight: bold;
}

.text1{
    font-size: small;
}

.kolam1{
    margin-left: 10px;
}

.icon{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #DFDFDF;
    overflow-y: visible;
}

.iconbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    color: black;
}

.plus{
    background-color: #C2B2A2;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    position: relative;
    bottom: 20px;
}

.tombolplus{
    font-size: 35px;
    text-align: center;
    position: relative;
    text-align-last: center;
    color: black;
}

.table {
    margin-top: 50px;
    border-radius: 10px;
    padding: 0px 10px; 
    width: 100%;
    border-collapse:separate;
    border-style: solid;
    border-color: black;
}


.bodyTabel {
    display: block;
    padding: 10px 50px;
    background-color: #DFDFDF;
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
}
.td {
    display: flex;
    text-align: justify;
}

.tdJudul{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

